/*Colors*/
/*Cards*/
/*General colors*/
/* Media queries */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* root {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: hsl(226deg, 43%, 10%);
}

html {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

@media only screen and (max-width: 1220px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 950px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 6.6px;
  }
}
.grid > * {
  color: white;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 15px;
  width: 14.99rem;
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.grid__profileCard {
  grid-area: main;
  grid-row: 1/span 2;
  height: 31rem;
  background-color: hsl(235deg, 46%, 20%);
}
.grid__profileCard--content {
  height: 18rem;
  background-color: hsl(246deg, 80%, 60%);
  border-radius: 15px;
  padding: 1.5rem;
}
.grid__profileCard--profilePic {
  border: 3px solid white;
  border-radius: 50%;
  height: 4rem;
  margin-bottom: 1rem;
}
.grid__profileCard--report {
  font-size: 1rem;
  color: hsl(236deg, 100%, 87%);
  font-weight: 300;
}
.grid__profileCard--name {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}
.grid__profileCard--timeframe {
  display: block;
  margin: 1rem 0rem;
  color: hsl(236deg, 100%, 87%);
  text-decoration: none;
}
.grid__profileCard--timeframe:hover {
  cursor: pointer;
}
.grid__work {
  background-image: url("../../images/icon-work.svg");
  background-color: hsl(15deg, 100%, 70%);
}
.grid__play {
  background-image: url("../../images/icon-play.svg");
  background-color: hsl(195deg, 74%, 62%);
}
.grid__study {
  background-image: url("../../images/icon-study.svg");
  background-color: hsl(348deg, 100%, 68%);
}
.grid__exercise {
  background-image: url("../../images/icon-exercise.svg");
  background-color: hsl(145deg, 58%, 55%);
}
.grid__social {
  background-image: url("../../images/icon-social.svg");
  background-color: hsl(264deg, 64%, 52%);
}
.grid__selfcare {
  background-image: url("../../images/icon-self-care.svg");
  background-color: hsl(43deg, 84%, 65%);
}
.grid__card--content {
  height: 9.1rem;
  width: 12.1rem;
  background-color: hsl(235deg, 46%, 20%);
  position: relative;
  top: 3rem;
  border-radius: 15px;
  padding: 1.5rem;
  overflow: hidden;
}
.grid__card--title {
  display: inline;
  font-size: 1.2rem;
  font-weight: 500;
}
.grid__card--elipsis {
  position: absolute;
  left: 80%;
}
.grid__card--elipsis:active {
  filter: brightness(50);
}
.grid__card--hrs {
  font-size: 3rem;
  margin: 2rem 0rem 0rem 0rem;
  font-weight: 300;
}
.grid__card--previous {
  font-size: 1rem;
  color: hsl(236deg, 100%, 87%);
  font-weight: 300;
}

.active {
  color: white;
}

ul {
  list-style-type: none;
  font-weight: 300;
  margin-top: 2.5rem;
}

.fadeIn {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

/*media queries - only small and smallest (see variables) */
@media only screen and (max-width: 725px) {
  .grid > * {
    width: 50rem;
    height: 18rem;
    margin: 2rem auto;
  }
  .grid__profileCard {
    height: 28rem;
  }
  .grid__profileCard--content {
    display: grid;
    grid-template-columns: 13rem auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "profile report" "profile name";
  }
  .grid__profileCard--profilePic {
    height: 10rem;
    margin-top: 3.5rem;
    grid-area: profile;
  }
  .grid__profileCard--report {
    align-self: flex-end;
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .grid__profileCard--timeframe {
    display: inline;
    font-size: 2rem;
  }
  .grid__card--content {
    position: relative;
    width: 46.1rem;
    height: 10rem;
    margin: 5rem 0rem;
    padding: 2rem;
    top: 5rem;
  }
  .grid__card--elipsis {
    left: 90%;
    bottom: 9rem;
  }
  .grid__card--title {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .grid__card--hrs {
    display: inline;
    font-size: 4rem;
  }
  .grid__card--previous {
    font-size: 2rem;
    display: inline;
    float: right;
  }
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0rem;
  }
  ul li {
    display: inline;
  }
}
@media only screen and (max-width: 550px) {
  .grid__profileCard--report {
    font-size: 2rem;
  }
  .grid__profileCard--name {
    font-size: 3rem;
  }
  .grid__card--content {
    top: 6rem;
  }
}
/*Colors*/
/*Cards*/
/*General colors*/
/* Media queries */
.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  grid-template-areas: "main work play study" "main exercise social selfcare";
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 725px) {
  .grid {
    display: block;
    position: static;
    transform: translate(0%, 0%);
  }
}/*# sourceMappingURL=style.css.map */