

.grid > * {
    color: white;
    background-color: $darkblue;
    border-radius: 15px;
    width: 14.99rem;
    background-repeat: no-repeat;
    background-position: 90% 0;
}

.grid {

    &__profileCard {
        grid-area: main;
        grid-row: 1 /span 2;
        height: 31rem;
        background-color: $darkblue;

        &--content {
            height: 18rem;
            background-color: $blue;
            border-radius: 15px;
            padding: 1.5rem;
        }

        &--profilePic {
            border: 3px solid white;
            border-radius: 50%;
            height: 4rem;
            margin-bottom: 1rem;
        }

        &--report {
            font-size: 1rem;
            color: $paleblue;
            font-weight: 300;
        }

        &--name {
            font-size: 2.5rem;
            font-weight: 300;
            margin: 0;
        }

        &--timeframe {
            display: block;
            margin: 1rem 0rem;
            color: $paleblue;
            text-decoration: none;
        

        
            &:hover {
                cursor: pointer;
            }
    
        }
    }


    &__work {
        background-image: url("../../images/icon-work.svg");
        background-color: $redwork;
    }

    &__play {
        background-image: url("../../images/icon-play.svg");
        background-color: $blueplay;
    }

    &__study {
        background-image: url("../../images/icon-study.svg");
        background-color: $redstudy;
    }

    &__exercise {
        background-image: url("../../images/icon-exercise.svg");
        background-color: $greenexercise;
    }

    &__social{
        background-image: url("../../images/icon-social.svg");
        background-color: $violetsocial;
    }

    &__selfcare {
        background-image: url("../../images/icon-self-care.svg");
        background-color: $orangeselfcare;
    }

    &__card {

        &--content {
            height: 9.1rem;
            width: 12.1rem;
            background-color: $darkblue;
            position: relative;
            top: 3rem;
            border-radius: 15px;
            padding: 1.5rem;
            overflow: hidden;
        }

        &--title {
            display: inline;
            font-size: 1.2rem;
            font-weight: 500;
        }

        &--elipsis {
            position: absolute;
            left: 80%;
        
            &:active {
                filter: brightness(50);
            }
        }

        &--hrs {
            font-size: 3rem;
            margin: 2rem 0rem 0rem 0rem;
            font-weight: 300;
        }

        &--previous {
            font-size: 1rem;
            color: $paleblue;
            font-weight: 300;
        }
    }
}

.active{
    color: white;
}

ul {
    list-style-type: none;
    font-weight: 300;
    margin-top: 2.5rem;
}

.fadeIn {
    animation: fadeIn 5s;
}

/*media queries - only small and smallest (see variables) */

@media only screen and (max-width: $small-port){
    .grid > * {
        width: 50rem;
        height: 18rem;
        margin: 2rem auto;
    }

    .grid {

        &__profileCard {

            height: 28rem;

            &--content {
                display: grid;
                grid-template-columns: 13rem auto;
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas: 
                "profile report"
                "profile name"
                ;
            }

            &--profilePic {
                height: 10rem;
                margin-top: 3.5rem;
                grid-area: profile;
            }

            &--report {
                align-self: flex-end;
                font-size: 2rem;
                margin-bottom: 0rem;
            }

            &--timeframe {
                display: inline;
                font-size: 2rem;
            }
        }
        
        &__card {

            &--content {
                position: relative;
                width: 46.10rem;
                height: 10rem;
                margin: 5rem 0rem;
                padding: 2rem;
                top: 5rem;
            }

            &--elipsis {
                left: 90%;
                bottom: 9rem;
            }

            &--title {
                display: block;
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            &--hrs {
                display: inline;
                font-size: 4rem;
            }
            
            &--previous {
                font-size: 2rem;
                display: inline;
                float: right;
            }
        }
    }

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0rem;
    }

    ul li {
        display: inline;
    }

}

@media only screen and (max-width: $smallest-port) {
    .grid {

        &__profileCard {

            &--report {
                font-size: 2rem;
            }

            &--name {
                font-size: 3rem;
            }
        }

        &__card {

            &--content {
                top: 6rem;
            }
        }
    }
}